@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600&display=swap');


:root {
  --bg: #F2F2F2;
  --txtcolor: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--txtcolor);
}

h1 {
  font-family: "title";
}

.testblob {
  position: absolute;
  width: 50%;
  height: 90%;
  background: rgb(255, 232, 188);
  left: 50%;
  top: 50%;
  transform: translate(-170%, -50%);
  border-radius: 100%;
}


@font-face {
  font-family: 'title';
  src: url(./Poppins-Bold.ttf);
}
@font-face {
  font-family: 'prop';
  src: url(./Poppins-Medium.ttf);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #27272a;
    --txtcolor: #FFFFFF;
  }
}